@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary: #0a2a43;
  --secondary: #1f6feb;
  --tertiary: #17a398;
  --quaternary: #222222;
  --quinary: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
}
header {
  height: 8rem;
  background-color: var(--secondary);
  /* border: 2px solid green; */
}

header img {
  background-size: cover;
  height: 60%;
  border-radius: 50px;
  box-shadow: 0 0 10px var(--primary);
}

.container {
  max-width: 1100px;
  height: 100%;
  display: flex;
  color: #f3f4f6;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  font-size: 2.7rem;
  padding: 10px 10px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px var(--primary);
}

.container li {
  list-style-type: none;
}
.container ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* hamburger-menu */
#menu-toggle {
  display: none;
}
.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  cursor: pointer;
  z-index: 1001;
}
.hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;

  display: block;
  background: var(--quinary);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  top: 10px;
}
.hamburger span:nth-child(3) {
  top: 20px;
}
#menu-toggle:checked + .hamburger span {
  background: #fff;
}
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

#side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background-color: var(--secondary);
  padding-top: 80px;
  transition: right 0.3s ease;
  z-index: 1000;
}
#menu-toggle:checked ~ #side-menu {
  right: 0;
  box-shadow: 0 0 6px var(--primary);
}
#side-menu a {
  display: flex;
  justify-content: center;
  padding: 15px 25px;
  color: var(--quinary);
  text-decoration: none;
  font-size: 1.1rem;
}
#side-menu a:hover {
  transform: scale(0.98);
}
